body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.productsCards {
  height: 300px;
  display: flex;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
}
.imgBanner{
  width:100em;
  height: 12rem;
  margin-top:0em;
  margin-bottom:2em;
}
.ingredientsPizza{
  border-top: 1px solid black;
}
section{
  display: flex;
}
.detailsPizza{
  margin-left:2rem;
}
.productName{
  border-bottom: 1px solid black;
}
