

    .active {
      color: white;
  }
  .navbar{
    background-color: red;
   
    padding-left: 2em;
    color:white;
  }
    .linksNavbar{
    display: flex;
    gap:5px;
    margin-right: 1em;
    }
  